.page-header {
  position: relative;
background-color: @base-blue;
@media (min-width: @tablet) {
border-bottom: 6px solid @border-blue;
}

}
.page-header__inner {
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
padding: 23px 0px;
@media (min-width: @tablet) {
justify-content: space-between;
flex-direction: row;
padding: 30px 0px;
}
}
.page-header__navigation {
  background-color: @base-blue;
display: flex;
flex-direction: column;

}
.page-header__navigation-button {
width: 25px;
height: 25px;
background-color: transparent;
border: none;
background-image: url("../img/burger-menu-icon.svg");
background-position: 0 0;
background-repeat: no-repeat;
background-size: 25px 20px;
margin-right: 103px;
z-index: 11;
@media (min-width: @tablet) {
  display: none;
}
}
.page-header__navigation-button:hover {
  opacity: 0.3;
 cursor: pointer;
}
.show-modal .page-header__navigation-button {
  @media (max-width: @max-mobile){
   transform: rotate(90deg);
 transition-duration: 0.5s;
 margin-right: 30px;
  }

}



.page-header__navigation-list {
padding-left: 0;
margin: 0;
display: none;
text-transform: uppercase;
font-size: 24px;
line-height: 28.8px;
letter-spacing: -0.03em;
font-weight: 700;
@media (min-width: @tablet) {
display: flex;
font-size: 12px;
line-height: 15px;
font-weight: 700;
padding-top: 10px;
}
}
.page-header__navigation-item {
margin-bottom: 27px;
color: @base-white;
@media (min-width: @tablet) {
padding-left: 10px;
margin-right: 25px;
margin-bottom: 0;
}


  .page-header__navigation-link:hover{
    color: @dark-red;
    opacity: 0.3;
  }
    .page-header__navigation-link:active,
    .page-header__navigation-link:focus     {
    color: @base-red;
    opacity: 1;
}
}
.page-header__navigation-item:first-child::marker {
  color: transparent;
}
.page-header__navigation-item:last-child {
  margin-right: 0;
}
.show-modal .page-header__navigation-list {
  @media (max-width: @max-mobile) {
    list-style: none;
    display: block;
position: absolute;
z-index: 1;
background-color: @base-blue;
height: 100vh;
width: 278px;
box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
top: 0;
left: 0;
padding-top: 237px;
padding-left: 71px;
  }

}

.page-header__navigation-link {
text-decoration: none;
color: @base-white;
}
.page-header__logo {
margin-top: 0;
margin-bottom: 0;
margin-right: 30px;
font-weight: 700;
font-size: 20px;
text-transform: uppercase;
line-height: 24px;
letter-spacing: -0.03em;
z-index: 11;
@media (min-width: @tablet) {
  font-size: 25px;
  line-height: 30px;
}
}
.page-header__logo-name {
color:@base-white;
}
.page-header__logo-symbol {
color: @base-red;
}

