.page-main {
  background-color: @base-blue;
  flex-grow: 1;
}
.page-main__services-wrapper {
  background-color: @base-white;
}
.page-main__slider {
  position: relative;
}
.page-main__slider-wrapper {
  background-color: @base-white;
}
