.page-footer {
background-color: @base-blue;
padding: 22px 0;

}
.page-footer__inner {
display: flex;
justify-content: center;
@media (min-width: @tablet) {
justify-content: space-between;
}
}
.page-footer__navigation-list {
  ._list();
  display: flex;
  justify-content: center;
}
.page-footer__copyright {
  display: none;
  @media (min-width: @tablet) {
    display: block;
    color: @section-headers-grey;
    font-size: 13px;
    line-height: 18px;
    font-weight: 900;
  }
}
.page-footer__navigation-item {
  border: 1px solid @section-headers-grey;
  border-radius: 50%;
  margin-right: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.page-footer__navigation-item:hover {
border-color: @section-descriptions-grey;
cursor: pointer;
}

.page-footer__navigation-svg {
  color: @section-headers-grey;
}
.page-footer__navigation-item:hover .page-footer__navigation-svg {
  color: @section-descriptions-grey;
}
.page-footer__navigation-link:focus .page-footer__navigation-svg {
  color: @base-red;
}
