.page-header {
background-color: @base-blue;

}
.page-header__navigation-button {
background-color: transparent;
border: none;
}
.page-header__navigation-list {
.list;
display: none;
}
.page-header__navigation-link {
text-decoration: none;
color: @base-white;
}
.page-header__logo {
font-weight: 700;
font-size: 20px;
text-transform: uppercase;
line-height: 24px;
letter-spacing: -0.03em;
}
.page-header__logo-name {
color:@base-white;
}
.page-header__logo-symbol {
color: @base-red;
}
