.services__title {
.header;
}
.services__paragraph {
.text;
}
.services__list {
list-style: none;
margin-top: 0;
padding-left: 0;
}
.services__item-title {
font-weight: 900;
font-size: 18px;
line-height: 18px;
color: @section-headers-grey;
}
.services__item-paragraph {
font-weight: 400;
font-size: 12px;
line-height: 22px;
color: @section-descriptions-grey;
}
