.center {
padding-left: 30px;
padding-right: 30px;
margin-left: auto;
margin-right: auto;
@media (min-width: @tablet) {
  padding-left: 40px;
padding-right: 40px;
}
}
.center--header {
padding-left: 20px;
padding-right: 20px;
}
