@base-blue: #2D303A;
@base-white: #ffffff;
@base-red: #F06C64;
@dark-red: #E94348;
@section-headers-grey: #666D89;
@section-descriptions-grey: #767E9E;
@base-blue: #2D303A;
@hover-grey: #DEDEDE;
@border-blue: #323746;
