.header {
color: @section-headers-grey;
font-weight: 900;
font-size: 30px;
line-height: 36px;
}
.text {
color: @section-descriptions-grey;
font-weight: 300;
font-size: 18px;
line-height: 30px;
}
.list {
list-style: none;
padding-left: 0;
margin-top: 0;
}
